.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*











        <div class="col-xl-6 col-lg-8 col-xxl-8">
            <div class="card profile_chart">
                <div class="card-header py-0"/>
                <div class="card-body mt-5">
                    <div class="chart-content text-center">
                        <div class="row">
                            <div class="col-xl-4 col-sm-6 col-6">
                                <div class="chart-stat">
                                    <p class="mb-1">
                                        24hr Volume
                                    </p>
                                    <h5> $ {{ Math.ceil(bitcoin.quote.NGN.volume_24h) }}</h5>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-6 col-6">
                                <div class="chart-stat">
                                    <p class="mb-1">
                                        Market Cap
                                    </p>
                                    <h5>{{ Math.ceil(bitcoin.quote.NGN.market_cap) }} NGN</h5>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-6 col-6">
                                <div class="chart-stat">
                                    <p class="mb-1">
                                        Circulating Supply
                                    </p>
                                    <h5>{{ Math.ceil(bitcoin.circulating_supply) }} BTC</h5>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-6 col-6">
                                <div class="chart-stat">
                                    <p class="mb-1">
                                        All Time High
                                    </p>
                                    <h5>1{{ Math.ceil(bitcoin.max_supply) }} BTC</h5>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-6 col-6">
                                <div class="chart-stat">
                                    <p class="mb-1">
                                        Typical hold time
                                    </p>
                                    <h5>15 mins</h5>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-6 col-6">
                                <div class="chart-stat">
                                    <p class="mb-1">
                                        7days change
                                    </p>
                                    <h5>{{ bitcoin.quote.NGN.percent_change_7d }}% </h5>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-6 col-6">
                                <div class="chart-stat">
                                    <p class="mb-1">
                                        24hrs change
                                    </p>
                                    <h5>{{ bitcoin.quote.NGN.percent_change_24h }}% </h5>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-6 col-6">
                                <div class="chart-stat">
                                    <p class="mb-1">
                                        1hr change
                                    </p>
                                    <h5>{{ bitcoin.quote.NGN.percent_change_1h }}%</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>