.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*


    <b-toast id="my-toast" variant="warning" toaster="b-toaster-top-center" solid>
        <template v-slot:toast-title>
            <div class="d-flex flex-grow-1 align-items-baseline">
                <b-img blank blank-color="#ff5555" class="mr-2" width="12" height="12" />
                <strong class="mr-auto">Complete your payment!</strong>
                <small class="text-muted mr-2">42 seconds ago</small>
            </div>
        </template>
        Complete your payment to make it easier to exchange.
        It is short and to the point.
    </b-toast>